/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Forum:wght@400&family=Jost:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

html,body {
}

body {
    font-family: "Crimson Text", serif;
    position: relative;
    background-color: rgb(245, 245, 245);
}

.body-wrapper {
    overflow-x: hidden;
}


/*
HEADER STYLING
*/
.header-wrapper {
    overflow-x: hidden;
    width: 100vw;
}

.masthead,.navbar {
    background-color: #fff;
    color: #fff;
    margin: 0;
}

.header {
    padding: 0;
}

.masthead h1 {
    font-weight: 600;
    font-size: 3rem;
    color:#ff304f;
}

.masthead .title {
    height: 8rem;
}

.infobar {
    background-color: #000d1d;
    margin: 0;
}

/* NAVBAR */

.navbar {
    font-family: "Jost",sans-serif;
    padding: 1rem;
    overflow-x: unset;
    margin: 0 0 2rem 0;
}

.navbar-shadow {
    box-shadow: 0 0.025rem 0.5rem 0.05rem rgba(0, 0, 0, 0.2);
}

.navbar a {
    float: left;
    text-align: center;
    font-size: 1.25rem;
    color: rgb(31, 31, 31);
    text-decoration: none;
    padding: 0 2rem;
    position: relative;
}

.active {
    color: #ff1500 !important;
}

.navbar a:hover {
    color:#ff1500;
}

.navbar a::before {
    content: "";
    position: absolute;
    width: calc(100% - 4rem);
    height: 2px;
    bottom: -8px;
    left: 2rem;
    background-color: #ff1500;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover::before {
    visibility: visible;
    transform: scaleX(0.85);
}

.navbar a i {
    height: 1rem;
}

.navbar a span {
    padding-left: 14px;
}

/* HAMBURGER MENU*/

.dropdown-nav {
    overflow: hidden;
    position: relative;
    display: none;
    margin-top: 1.5rem;
}

.dropdown-nav a {
    width: 100%;
    text-align: left;
    margin: 1rem 0;
}



/*
FOOTER STYLING
*/

.footer-wrapper {
    background-color: #000510;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
    margin: 3rem 0 0 0;
    padding: 3rem 0;
}

.footer-wrapper .editor-details ul,.footer-wrapper .colophon ul {
    list-style: none;
    padding: 0;
    color: #aaa;
}

.footer-wrapper .editor-details .name {
    color: #888;
    font-size: 1.2rem;
}

.footer-wrapper .editor-details > ul > li > a {
    color: #888;
}

.footer-wrapper .colophon a {
    text-decoration: none;
    color: #eee;
}



/*
ARTICLE STYLING
*/

.heading {
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #000;
    position: relative;
}

.heading::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 2px;
    border-bottom: 1px solid #000;
}

.article {
    position: relative;
    margin: 0 0 1rem 0;
    transition-duration: 0.5s;
}

.article-lg {
    margin-bottom: 2rem;
}

.article .text-wrapper {
    padding: 0 1rem 1rem 1rem;
}

.article:hover {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
}

.article:hover .img-wrapper > img {
    border-radius: 5px 5px 0 0;
}

.article-sm-sideways:hover .img-wrapper > img {
    border-radius: 5px 0 0 5px;
}

.article h1 {
    font-family: "Jost",sans-serif;
    font-weight: 300;
}

.article-sm h1 {
    font-size: 1.75rem;
    font-weight: 300;
}

.article-lg .text-wrapper {
    padding: 0 2rem 1rem 2rem;
}

.article .img-wrapper {
    position: relative;
}

.article-lg .img-wrapper {
    margin-bottom: 2rem;
}

.article-sm .img-wrapper {
    margin-bottom: 1.5rem;
}

.article img {
    width: 100%;
    object-fit: cover;
}

.article-lg img {
    height: 20rem;
}

.article-sm img {
    height: 10rem;
}

.article-lg .caption {
    font-family: "Jost",sans-serif;
    font-size: 0.9rem;
    position: absolute;
    background-color: #ffd615;
    color: #000;
    margin-left: -1rem;
    max-width: 70%;
    bottom: -1rem;
    padding: 8px 12px 8px 12px;
}

a.overlay {
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.article-no-img {
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
}

.editor-picks .article-no-img.lead {
    border-radius: 5px;
    padding: 1rem;
    background-color: #ffd615;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.editor-picks .article-no-img.lead p {
    margin-bottom: 0;
}

.article-no-img h1 {
    font-size: 1.1rem;
}

.article-no-img p {
    font-size: 0.9rem;
}

.article-sm-sideways img {
    height: 4rem;
}

.article-sm-sideways .img-wrapper {
    padding: 0;
    margin: 0;
    padding-right: 0.5rem;
} 

.article-sm-sideways .text-wrapper {
    padding-left: 1rem;
    border-left: 1px solid #999;
}

.article-sm-sideways .text-wrapper h1 {
    font-family: "Crimson Text",serif;
    font-size: 1.1rem;
}

.article-sm-sideways .subject-wrapper {
    text-align: right;
    margin: 1rem 0;
}

.adverts-wrapper .article-sm-sideways {
    margin: 0;
}

.adverts-wrapper .article-sm-sideways .text-wrapper {
    margin: 1rem 1rem 1rem 0.4rem;
    padding: 0 0 0 1rem;
}



/* 
SIDEBAR STYLING (COLUMNS AND SPORT)
*/

.opinion-wrapper,.sport-wrapper,.nib-wrapper {
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.opinion-wrapper {
    background-color: #fff4e3;
    margin-bottom: 2rem;
}

.sport-wrapper .title,.opinion-wrapper .title,.nib-wrapper .title {
    padding: 1rem;
    position: relative;
}

.sport-wrapper .title,.opinion-wrapper .title {
    border-bottom: 1px solid #000;
}

.nib-wrapper .title {
    border-bottom: 1px solid #fff;
}

.sport-wrapper .title h1,.opinion-wrapper .title h1,.nib-wrapper .title h1 {
    font-family: "Jost",sans-serif;
    font-weight: 500;
}

.opinion-wrapper .body,.sport-wrapper .body {
    border-top: 1px solid #000;
    margin-top: 5px;
}

.opinion-wrapper .column {
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #888;
    position: relative;
}

.opinion-wrapper .column .author {
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.opinion-wrapper .column .headline {
    font-weight: 600;
    font-size: 1.25rem;
}

.nib-wrapper {
    background-color: #071e3d;
    color: #fff;
    margin-bottom: 2rem;
}

.nib-wrapper .body {
    border-top: 1px solid #fff;
    margin-top: 5px;
}

.nib-wrapper .nib {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #bbb;
}

.sport-wrapper {
    background-color: #fff;
}

.sport-wrapper .section {
    margin: 5px 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.sport-wrapper .section h2 {
    padding: 1rem 2rem 0 2rem;
    text-decoration: underline;
}

.sport-wrapper .fixture {
    padding: 0 1rem;
    font-family: "Jost",sans-serif;
    font-weight: 300;
    margin: 2rem 2rem;
    border-left: 2px solid #000;
}

.sport-wrapper .fixture table {
    border-collapse: collapse;
    width: 100%;
}

.sport-wrapper .fixture td, .sport-wrapper .fixture th {
  text-align: left;
}

.sport-wrapper .fixture .team {
    font-weight: 400;
}

.sport-wrapper .team-badge img {
    width: 1.5em;
}

.sport-wrapper .team-score {
    text-align: right !important;
}

.sport-wrapper .fixture .versus {
    color: #777;
}



/*
BANNERS
*/

.banner-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100vw;
    overflow-x: hidden;
}

.banner {
    margin: 0;
    padding: 1rem 2rem;
    position: relative;
}

.banner .emoji-wrapper {
    display: inline-table;
    font-size: 3rem;
    font-weight: 100%;
    height: 100%;
}

.banner .emoji {
    width: 10%;
    display: table-cell;
}

.banner .text {
    display: table-cell;
    font-family: "Playfair Display",serif;
    font-weight: 500;
    font-style: italic;
}

.banner .text-lg {
    font-size: 1.75rem;
    padding-left: 3rem;
}

.banner .text-sm {
    font-size: 1.25rem;
    padding-left: 2rem;
}



/*
EDITOR'S PICKS SIDERBAR
*/

.editor-picks {
    border-left: 2px solid #000;
    position: relative;
    padding: 0.5rem 2rem 0 2rem;
}

.editor-picks::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 2px;
  right: 2px;
  bottom: 0;
  border-left: 1px solid #000;
}

.editor-picks > h1 {
    margin-bottom: 1.1rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #999;
}

.editor-picks .article-no-img.lead:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



/*
FULL ARTICLE
*/

.full-article {
    padding: 1rem;
}

.full-article .img-wrapper {
    margin: 1.25rem 0 1rem 0;
    position: relative;
}

.full-article .img-wrapper > img {
    width: 100%;
    object-fit: cover;
    min-height: 30rem;
    height: 30vh;
    border-radius: 5px;
    box-shadow: rgba(255,46,77, 0.65) 5px 5px, rgba(255,46,77, 0.2) 10px 10px, rgba(255,46,77, 0.1) 15px 15px;
    background-color: rgb(255, 46, 77);
}

.full-article .headline-wrapper > .headline {
    font-weight: 700;
    font-family: Jost;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-top: 2px solid #000;
    padding-top: 1rem;
}

.full-article .byline-wrapper > .byline {
    display: inline-block;
}

.full-article .byline-wrapper > .byline > .by {
    color: #fff;
    padding: 0.2rem 0.5rem;
    margin: 0 0.25rem;
    background-color: #ff1500;
    text-decoration: none;
}

.full-article .byline-wrapper > .date {
    display: inline-block;
    float: right;
}

.full-article .standfirst {
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    margin-top: 2rem;
}

.full-article .standfirst::before {
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 2px;
    right: 0;
    border-bottom: 1px solid #000;
    position: absolute;
}

.full-article .standfirst::after {
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    bottom: -4px;
    right: 0;
    border-bottom: 1px solid #ccc;
    position: absolute;
}

.full-article .categories-wrapper {
    margin-bottom: 1.5rem;
}

.full-article .categories-wrapper .category {
    display: inline-block;
    margin: 0 0.5rem 0 1rem;
    position: relative;
}

.full-article .categories-wrapper .category span {
    background-color: rgba(255, 48, 79, 0.225);
    color: #ff1500;
    border-radius: 2rem;
    padding: 0.65rem 1rem;
    display: inline-block;
    font-family: Jost;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: 0.5s;
    transition-delay: 0.05s;
}

.full-article .categories-wrapper .category .overlay:hover + span {
    background-color: rgba(255, 48, 79, 0.4);
    /* color: #fff; */
    /* color: #000; */
}

.full-article .body-wrapper > .body > p {
    margin: 0;
    margin-top: 2rem;
    font-size: 1.125rem;
}

.full-article .body-wrapper > .body > p.first {
    text-indent: 0;
}

.full-article .author {
    margin: 1rem 0 2rem 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.5rem;
    padding-bottom: 1.25rem;
}

.full-article .author > .title {
    font-size: 1.5rem;
    border-bottom: 1px solid #999;
    font-family: "Jost",sans-serif;
    font-weight: 500;
    padding: 1rem 0;
    position: relative;
}

.full-article .author > .title::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    bottom: 2px;
    right: 0;
    border-bottom: 1px solid #000;
}

.full-article .author .body,.full-article .author .links {
    border-bottom: 1px solid #999;
}

.full-article .author .body .name {
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.1rem;
    padding: calc(1rem + 2px) 1.5rem;
    border-bottom: 1px solid #999;
    position: relative;
}

.full-article .author .description {
    padding: 1rem 1.5rem;
}

.full-article .author .links {
    padding: 1rem 1.5rem;
}

.full-article .author .links a {
   text-decoration: none; 
   color: #000;
   margin: 0 0.4rem;
}

.full-article .img-wrapper .caption {
    font-family: "Jost",sans-serif;
    font-size: 0.9rem;
    position: absolute;
    background-color: #ffd615;
    color: #000;
    margin-left: 1rem;
    max-width: 70%;
    bottom: 1rem;
    padding: 8px 12px 8px 12px;
    border-radius: 0 0 0 5px;
}

.full-article .body .img-wrapper > img {
    min-height: 20rem;
    height: 40vh;
}